/* Add custom font */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/*Header*/
header {
  background-color: #333333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  text-align: center;
}

.banner {
  color: green;
  font-size: 72px;
  text-shadow: 1px 1px #000000;
}

/*Navbar*/
nav{
  display: grid;
  grid-template-columns: 10% 90%;
  background-color: #cccccc;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  border-radius: 50%;
  overflow: hidden;
}

.menu {
  display: flex;
  gap: 4rem;
  align-items: center;
  overflow: auto;
}

.menu a {
  color: #333333;
  font-size: 20px;
  text-decoration: none;
  margin: 0 10px;
  transition: all 0.3s;
}

.menu a:hover {
  color: #cccccc;
}

.menu a.active {
  color: #333333;
  font-weight: bold;
  border-bottom: 2px solid #333333;
}

/*Main Content*/
.main_content {
  background-color: #f2f2f2;
  padding: 40px;
  text-align: center;
}

#main-heading {
  font-size: 36px;
  margin-bottom: 20px;
}

#main-heading::before {
  content: "";
  display: block;
  height: 4px;
  background-color: #333333;
  margin-bottom: 20px;
}

#main-heading::after {
  content: "";
  display: block;
  height: 4px;
  background-color: #333333;
  margin-top: 20px;
}

hr {
  border: 1px solid #333333;
  width: 100%;
  margin-bottom: 40px;
}

article h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

article img {
  display: block;
  margin: 0 auto;
  box-shadow: 1px 1px #cccccc;
  height:auto
}

article p {
  font-size: 18px;
  text-align: justify;
  margin-bottom: 20px;
}

article a {
  color: #333333;
  font-size: 18px;
  text-decoration: none;
  border-bottom: 2px solid #333333;
  transition: all 0.3s;
}

article a:hover {
  color: #cccccc;
  border-bottom-color: #cccccc;
}


@media screen and (max-width: 1024px) {
  .banner {
    font-size: 60px;
  }

  .container_nav{
    height: 50%;
    justify-content: center;
  }
  .menu {
    gap: 2rem;
    flex-direction: column;
    gap: 1rem;
  }

  .logo-image {
    width: 200px;
  }
}

@media screen and (max-width: 600px) {

  .banner {
    font-size: 40px;
  }
  nav{
    grid-template-columns: 25% 75%;
  }
  .container_nav{
    height: 100%;
    padding-left: 0;
  }
  
  .logo-image {
    width: 200px;
  }
}
